body {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    border: 2px solid #333;
    font: normal 16px/1.5 'Helvetica Neue', sans-serif;
  }
  
  .structural {
    margin: 10px;
    padding: 10px;
  }

  h1 {
    color: #333;
    font-size: 28px;
}

h2 {
    color: #444;
    font-size: 24px;
}

main {
    height: 70vh;
}
    

figure {
    background-color: #f0f0f0;
    width: 45%;
    height: 60%;
    margin: auto;
    padding: 10px;
    float: left;
}

figure:nth-child(even) {
    float: right;
}

figcaption {
    font-weight: bold;
    font-size: 14px;
    color: gold;
    padding: 5px;
}

a {
    color: #0066cc;
}

a:hover {
    color: #004080;
}

ul {
    list-style: square;
    line-height: 1.5;
}

header, footer {
    background-color: #f0f0f0;
}

